td{
    height: 10px;
    width: 1000px;
    
}

table{
    border: 1px solid red;
}

a{
	text-decoration: none;
}

body {
    background-color: #FAD8D5;
}
h5 {
    text-align: center;
}
h3 {
    text-align: center;
}
