td{
    height: 10px;
    width: 1000px;
    
}

table{
    background-color: #D8EDD2;
    }

a{
	text-decoration: none;
}

body {
    background-color: #FAD8D5;
}
h4 {
    text-align: justify;
    font-family: "Muli";

}
h2 {
    text-align: justify;
    color: #5217de;
    font-family: "Arvo";
}
