@font-face {
    font-family: muli;
    src: url(Muli.ttf);
}

@font-face {
    font-family: arvo;
    src: url(Arvo-Regular.ttf);
}


td{
    height: 10px;
    width: 1000px;
}

table{
    background-color: #D8EDD2;
    }

a{
    text-decoration: none;
    color: #EB2400;
}

body {
    background-color: #1DEAFF;
}
ul li {
    text-align: justify;
    font-family: muli;
    font-size: 16px;
    margin:0 0 12px 0;
}
h2 {
    text-align: justify;
    color: #b45f06;
    font-family: arvo;
}

p{
  
    font-family: arvo;
}

h4{
  
    font-family: arvo;
}

td{
    font-family: arvo;
}