td{
    height: 10px;
    width: 1000px;
    
}

table{
    background-color: #99f56f;
}

a{
	text-decoration: none;
}

body {

    background-color: #FAD8D5;
}

table {
	color: #123456;
}


h1{
    color: #5217de;
}
