td{
    height: 10px;
    width: 1000px;
    
}

table{
    border: 1px solid red;
}

a{
	text-decoration: none;
}

body {
    color: #000000;
    background-color: #FAD8D5;
}

table {
	color: #123456;
}


