@font-face {
    font-family: marvel;
    src: url(Marvel-Regular.ttf);
}

@font-face {
    font-family: arvo;
    src: url(Arvo-Regular.ttf);
}

td{
    height: 10px;
    width: 1000px;
    
}

table{
    background-color: #D8EDD2;

}

a{
	text-decoration: underline;
    color: #E62000;
}

body {
    color: #000000;
    background-color: #1DD4F2;
}

h1{
    color: #5217de;
    font-size: 64px;	
    font-family: marvel;
    text-align: center;	
}

p{
  
    font-family: arvo;
}

h4{
  
    font-family: arvo;
}

td{
    font-family: arvo;
}

.center {
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
}